.name{
    color:green;
}
.speech
{
    color:black;
    font-size:medium;
    font-family: 'Courier New', Courier, monospace; }
.direction{
        font-family: 'Courier New', Courier, monospace;
        color:red;font-size:small;
        background-color: aqua; }

    .direction:hover{
        color:blue;
        font:small;
        background-color: pink;
    }
    .MARY{
        font-style:bold;
        color:coral;
    }
    .OLLIVANT{
        font-size:bold;
        color:blueviolet;
    }

    table {
        border-color: black;
        border: 1px solid;
        width: 50%;
        height: 200px;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
    th {
        border-color:brown;
        border: 1px solid;
        color: purple;
        background-color:chartreuse;
    }
    td {
        border-color:darkred;
        border: 1px solid;
    }

    .MARY:hover {
        font-size: medium;
        color: coral;
        text-shadow: 0 0 10px coral;
        border-style: dashed;
        }
    .OLLIVANT:hover {
    font-size: medium;
    color: blueviolet;
    text-shadow: 0 0 10px blueviolet;
    border-style: dashed;
    }
    